# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias ls="ls -FG"
alias lsa="ls -A"
alias lsl="ls -l"
alias lsla="lsl -A"
alias cpp="cd ~/codingbase/cppfiles"
alias rpro="cd ~/documents/\"R_Programming\""
alias cls="clear"
alias gowork="cd ~/Documents/code_working"
alias gitrepo="cd ~/Documents/Git_Repo"
alias sharebase="cd /Volumes/SharedFiles"
alias pushvimrc="cat ~/.vimrc | ssh exia 'cat > ~/.vimrc'"
